//COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7700;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONTS

$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;
